{% extends 'base.html' %}

{% block head %}
<title>YoloViewer</title>
<link rel="stylesheet" href="static/style.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!--<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">-->

{% endblock %}

{% block body %}
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"> </script>
    <script
      src="https://unpkg.com/panzoom@9.4.0/dist/panzoom.min.js"
      query="#scene"
      name="pz"
    ></script>
<div id="status" class="status">
    <i id="detect_light" class="fa fa-circle">detect</i>
    <i id="mechanical_light" class="fa fa-circle">mechanics</i>
    <i id="aqc_light" class="fa fa-circle">camera</i>
    <i id="flask_light" class="fa fa-circle">website</i>
    <i  class="fa fa-question"></i>
    <input type="button" class="fa fa-question" onclick="(function(){alert('For help ask Johannes Bartl or Sebastian Bohle');return false;
    })();return false;" style="color:grey; opacity: 0.2"
    </input>
</div>
    <h1>YoloViewer Version 0.4</h1>
    <svg
      version="1.1"
      class="center-block"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      width="600"
      height="400">
      <g id="scene">
        <g>
          <foreignObject x="0" y="0" width="500" height="400">
<!--            <video class="live" autoplay="true" id="videoElement" style="display:none"></video>-->
            <img id="Dummy" src="" width="50%" style="display:none" alt="Error with live display"></img>
<!--            <img id="Dummy" src="{{ url_for('video_feed') }}" width="50%" style="display:inline" alt="Error with live display"></img>-->
          </foreignObject>
        </g>
      </g>
    </svg>
<div class="btn-group">
    <button id= "dummy"><i class="fa fa-play"></i></button>
    <button id = "record" value="Record"><i class="fa fa-circle"></i></button>
    <button id = "show_duration"></button>
    <button id = "show_framerate"></button>
    <button id = "show_gain"></button>
    <button id = "save" onclick="pop()">select Save-Path</button>
    <button id = "clear">Clear Plots</button>
    <button id = "pause"><i class="fa fa-pause"></i> Live</button>
    <button id = "plot">Plot</button>
    <button id = "overlay">overlay</button>
</div>
  <div id ="progress_bar" class="w3-light-grey">
    <div id="myBar" class="w3-green" style="height:24px;width:0%"></div>
  </div>
  <br>
<div id="notes_div">
    <button id="change_settings" onclick="settings()">Adjust</button>
    <button onclick="notes()">Notes</button>
    <button id="save_notes" onclick="saveTextAsFile()" style="display:none">Save Notes</button>
</div>
<div id="microscope_settings_div"></div>
    <div id="plot_wrapper">
        <div id="graph3" style="display:none" class="plot"></div>
        <div id="graph" style="display:none" class="plot_large"></div>
            </div>
<div id="plot_wrapper2" >
        <div id="graph4" style="display:none" class="plot"></div>
        <div id="graph2" style="display:none" class="plot"></div>
        <div id="graph5" style="display:none" class="plot"></div>
     </div>
<div id="plot_wrapper3">
    <select id="plot_selector_1" onchange="for_update()">
        <option value="-1" selected="selected">Select x-axis</option>
        {% for value in columns%}
            <option {{key}}  name="select_{{key}}" id="select_{{key}}" value="{{value}}">{{value}}</option>
        {% endfor %}
    </select>
    <select id="plot_selector_2" onchange="for_update()">
        <option value="-1" selected="selected">Select y-axis</option>
        {% for value in columns%}
            <option {{key}}  name="select2_{{key}}" id="select2_{{key}}" value="{{value}}">{{value}}</option>
        {% endfor %}
    </select>
    <button id = "update_playground" onclick="update()">Update</button></br>
    <div id="playground_plot" style="display:None"></div>
</div>
<div class="settings_new" style="display:inline">
{% for key,value in data.items()%}
<p>{{key}} <input type="text" id="settings_{{key}}" class="settings_input" value="{{value}}" style="float: right;"></p>
{% endfor %}
<!--    <p>framerate <input type="range" id="settings_framerate_2" style="float: right;"></p>-->
</div>
<div id="overlay_picture_div" class="overlay_flex_container">
    <img id="overlay3" src="">
    <img id="overlay2" src="">
    <img id="overlay1" src="">
<!--    <img src="{{ url_for('background1') }}" class="overlay_flex_item">-->
</div>

<script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
<script type="text/javascript" src="static/main.js"></script>
<!--<script>-->
<!--    var coll = document.getElementsByClassName("collapsible");-->
<!--var i;-->
<!--for (i = 0; i < coll.length; i++) {-->
<!--  coll[i].addEventListener("click", function() {-->
<!--    this.classList.toggle("active");-->
<!--    var framerate = this.nextElementSibling;-->
<!--    if (framerate.style.display === "block") {-->
<!--      framerate.style.display = "none";-->
<!--    } else {-->
<!--      framerate.style.display = "block";-->
<!--      framerate.style.float = "right";-->
<!--    }-->
<!--  });-->
<!--}-->
<!--</script>-->

{% endblock %}