{% extends 'base.html' %}

{% block head %}
<title>Yolo</title>
<link rel="stylesheet" href="static/style.css" />
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<element onload="get_ell_after_t0">

{% endblock %}

{% block body %}
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"> </script>

<!--<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>-->
<script type=text/javascript> $(function() {$("#record").click(function (event) { $.getJSON('/record', { },
    function(data) { }); return false; }); }); </script>
    <script
      src="https://unpkg.com/panzoom@9.4.0/dist/panzoom.min.js"
      query="#scene"
      name="pz"
    ></script>
<!--<div id="display_container" visible="True">-->
<!--    &lt;!&ndash;  SVG scene  which we use as a canvas   &ndash;&gt;-->
<!--    <svg xmlns="http://www.w3.org/2000/svg"-->
<!--         xmlns:ev="http://www.w3.org/2001/xml-events" version="1.1"-->
<!--         id="svgRoot"-->
<!--         width="100%" height="100%" style="background-color:#ffffff;-->
<!--                   image-rendering: -moz-crisp-edges;         /* Firefox */-->
<!--                   image-rendering:   -o-crisp-edges;         /* Opera */-->
<!--                   image-rendering: pixelated;                /* Chrome */-->
<!--                   -ms-interpolation-mode: nearest-neighbor;  /* IE (non-standard property) */-->
<!--"-->
<!--         baseProfile="full">-->
<!--        <g id="scene">-->
<!--            <image id='myDisplay' x="0" y="0"  width="100%" height="100%"  xlink:href="", href="" pointer-events="none"/>-->
<!--&lt;!&ndash;            <image id='mySnippet' x="0" y="0" height="600" width="800"  xlink:href="", href="" pointer-events="none"/>&ndash;&gt;-->
<!--        </g>-->
<!--    </svg>-->
<!--</div>-->
<!--<div>-->
<!--    <img src="{{ url_for('video_feed') }}" width="50%"/>-->
<!--</div>-->

    <h1>Webcam Stream with Buttons</h1>
    <svg
      version="1.1"
      class="center-block"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      width="800"
      height="600"
    >
      <g id="scene">
        <g>
          <foreignObject x="0" y="0" width="500" height="400">
<!--            <video class="live" autoplay="true" id="videoElement" style="display:none"></video>-->
            <img id="Dummy" src="{{ url_for('video_feed') }}" width="50%" id="videoElement" style="display:none"label="dummy_stream"</img>
          </foreignObject>
        </g>
      </g>
    </svg>
    <button id="stop">Stop Video</button>
    <button id="start">Start Video</button>
    <button id="dummy">Start Dummy-Video</button>

<button type="button" class="collapsible">Show/Hide Settings</button>

<div class="framerate" style="display:none">
    <h2 style="text-align: center">Settings</h2>

    <div class="form">
        <form action="/index?framerate={{new_framerate}}&duration={{new_duration}}&pressure={{new_pressure}}&aperture={{new_aperture}}&imaging_position={{new_imaging_position}}&bioink={{new_bioink}}&room_temperature={{new_room_temperature}}&cell_type={{new_cell_type}}&cell_passage_nr={{new_cell_passage_nr}}&time_after_harvest={{new_time_after_harvest}}&treatment={{new_treatment}}&" method="POST">
            {% for key,value in data.items()%}
            <p>{{key}}</p>
            <input type="text" name="{{key}}" id="{{key}}" value="{{value}}">
            {% endfor %}
            <button type="submit" value="Change settings">Change settings</button>
        </form>

        <form action="/index?record={{record}}" method="POST">
            <button type = "button" id = "record" value="Record" >Record</button>
        </form>
    </div>
</div>
<button type="submit" id = "clear">Clear</button>
<div id="graph"></div>

<!--<div id='chart' class='chart'”></div>-->


<script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
<!--<script type='text/javascript'>-->
<!--  var graphs = {{graphJSON | safe}};-->
<!--  Plotly.plot('chart',graphs,{});-->
<!--</script>-->
<script type="text/javascript" src="static/main.js" ></script>
<script type="text/javascript" src="static/camera.js" ></script>
<script>
var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var framerate = this.nextElementSibling;
    if (framerate.style.display === "block") {
      framerate.style.display = "none";
    } else {
      framerate.style.display = "block";
      framerate.style.float = "right";
    }
  });
}
</script>

{% endblock %}
